/* This code is written by: Felix Burwitz.
For licencing, Copyright issues etc. contact me at:
reinermagdenernst@gmail.com
this is NOT my business E-Mail - after you contact me i will give it to you.
Web: https://www.fex.codes
Discord:  NotFckingFex#6636
*/

body {
    background-color: #170042;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
}

#logo {
    top: 9px; /* your required value */
    left: 10;
    width: 128px;
    height: 128px;
    position: fixed;
    z-index: 1;

}

#colorstrip {
    width: 100%; height: 10px;
    position: absolute;
    right: 0px;
    top: 64px;
    border-style: solid;
    border-color: black;
    background-color: yellow;
}

#topright {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 25px;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #ffffff;
    text-shadow: 2px 2px #ff0000;
    font-weight: 400;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
}



.footer {
    position: fixed;
    font-size: 12px;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    font-weight: 400;
    font-variant: normal;
    text-transform: uppercase;
    left: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

#vehicleicon {
    position: fixed;
    top: 290px; /* your required value */
    left: 10px;
    width: 64px;
    height: 64px;
}

#vehiclecreate {
    position: fixed;
    top: 290px; /* your required value */
    left: 74px;
    width: 32px;
    height: 32px;
    position: fixed;
}
#foldericon {
    position: fixed;
    top: 200px; /* your required value */
    left: 10px;
    width: 64px;
    height: 64px;
    position: fixed;
}

#foldercreate {
    position: fixed;
    top: 200px; /* your required value */
    left: 74px;
    width: 32px;
    height: 32px;
    position: fixed;
}

#settingsicon {
    position: fixed;
    top: 200px; /* your required value */
    right: 10px;
    width: 64px;
    height: 64px;
    position: fixed;
}






.login-form {
    width: 340px;
    margin: 150px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}

#regi {
    position: absolute;
    top: 110px;
    right: 47%;
    font-size: 25px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px #ff0000;
    text-transform: uppercase;
}

#logintext {
    position: absolute;
    top: 110px;
    right: 48%;
    font-size: 25px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px #ff0000;
    text-transform: uppercase;
}
.container {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
